:root {
    --primary-color: {{ config('app.theme_primary_color') }};
}

.main-header {
    background-color: {{ config('app.theme_navbar_color') }} !important;
}

.main-sidebar {
    background-color: {{ config('app.theme_sidebar_color') }} !important;
}
